<%= link_to "adminのログインへ",  new_admin_session_path %>
<div class="container">
    <div class="row">

        <div class="col-xs-2">
            <div class="col-box">
                <h3><strong>ジャンル検索</strong></h3>
                <table class="genresboxs">
                    <tr>
                        <th class=""><%= %></th>
                    </tr>
                </table> 
                <div class="search-form" style="margin-top: 70px; text-align: center;">
                            
                </div>
            </div>
        </div>
        
        <div class="main col-md-offset- col-md-10">
            <h3><strong>ようこそ、NaganoNaganoCakeへ!!</strong></h3>  
            <p></p><br>
            <p>このサイトは、ケーキ販売のECサイトになります。</p>
            <p>会員でない方も商品の閲覧はできますが、</p>
            <p>購入には会員登録が必要になります。</p>
            
            <div class ="osusumetab">
                <h3>オススメ商品<h3>
            </div>
            <div class="box">
                <div class="box1 bg1">
                            <div class=inside-box>
                            <p>商品名</p>
                            <p>￥0,000</p></div>
                            </div>
                <div class="box1 bg2">
                            <div class=inside-box>
                            <p>商品名</p>
                            <p>￥0,000</p></div>
                            </div>
                <div class="box1 bg3">
                            <div class=inside-box>
                            <p>商品名</p>
                            <p>￥0,000</p></div>
                            </div>
                <div class="box1 bg4">
                            <div class=inside-box>
                            <p>商品名</p>
                            <p>￥0,000</p>
                            </div>
                            </div>
            </div>
            <div class="footerbox">
                <footer>
                    <p><%= link_to "もっと見る",  items_path %></p>
                </footer>
            </div>
        </div>
        
    </div>
</div>

