<div class="back" >
<%= render "layouts/header" %>

<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="bodypaint">
     Thank You
  </div>
  <div class="bodypaint2">
  <h2>　ご購入誠にありがとうございました！！　<h2>
  </div>

  <div class="bodypaint3">
  <%= image_tag 'logo.png', class: "logo" %>
  </div>

 

  <h5>注文内容がショップに送信されました！</h5>
  </div>
 </div>
 </div>
 </div>

