<div class="back" >
<%= render "layouts/header" %>

<div class="container">
<div class="row">
<div class="col-xs-12">
<div class="bodypaint">
     Thank You
  </div>
  <div class="bodypaint2">
  <h1>　ご購入誠にありがとうございました！　<h1>
  
  </div>

  <div class="bodypaint3">
  <strong><h4>注文内容がショップに送信されました</h4></strong>
  </div>

  <div class="logo_info">
  <%= image_tag 'logo.png', class: "logo" %>
  </div>
  
  </div>
 </div>
 </div>
 </div>

